@font-face {
  font-family: "RedHatDisplay";
  font-weight: bold;
  src:
    local("Red Hat Display Bold"),
    url("/fonts/RedHatDisplay-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Menlo";
  font-weight: normal;
  src:
    local("Menlo Regular"),
    url("/fonts/Menlo-Regular.ttf") format("truetype");
}

:root {
  --secondary-bg-color: #000;
  --link-color: #000;

  /* Toast style */
  --toastContainerTop: auto;
  --toastContainerRight: auto;
  --toastContainerBottom: 2rem;
  --toastContainerLeft: calc(50vw - 8rem);
}

html,
body,
#svelte {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}

pre {
  font-family: Menlo, monospace;
  font-weight: normal;
}

svg {
  vertical-align: top;
}

a {
  color: var(--link-color);
}
